/*
================================================================================
    LongSplice pipeline — nextflow.config
================================================================================
*/

params {
    // ===== Entrada/Salida/Refs =====
    samplesheet                 = "./samplesheet1.csv"
    outdir                      = "results"
    publish_dir_mode            = 'copy'

    // ===== Recursos (máximo global) =====
    max_memory                  = '28.GB'
    max_cpus                    = 12
    max_time                    = '96.h'

    // ===== Toggles principales =====
    skip_preprocess_ont         = false
    skip_pychopper              = true
    skip_chopper                = false
    skip_restrander             = false
    skip_alignment              = true
    skip_quantification         = true
    skip_dtu                    = true
    skip_coverage               = true
    skip_bigbed                 = true

    run_nanoplot                = false
    run_dexseq                  = false
    run_deseq2                  = false
    run_suppa                   = false
    run_suppa_diff              = false
    run_flair                   = true
    run_flair_diffexp           = true
    run_flair_diffsplice        = true

    multiqc_title               = "Pipeline de Secuenciación LongSplice"

    // ===== Herramientas =====
    nanoplot_opts               = "--minlength 0 --minqual 0"
    chopper_args                = "--quality 10 --minlength 200"
    restrander_config           = "${System.getenv('RESTRANDER_CONFIG_DIR') ?: '/usr/local/share/restrander/config'}/PCB109.json"
    pychopper_q                 = 5
    pychopper_autotune          = false
    pychopper_extra             = ''         // ej: "--minlength 200"
    pychopper_args              = "-Y ${params.pychopper_autotune ? 1 : 0} -q ${params.pychopper_q} ${params.pychopper_extra}"
    cdna_kit                    = 'PCS109'   // fuerza ese kit (o 'auto'/'none')
    minimap2_opts               = "-k14"
    bigwig_norm                 = 'CPM'
    bigwig_binsize              = 1
    

    // ===== Bambu =====
    bambu_opts                  = '--min_readcount 2 --min_txscore 0.2'
    bambu_discovery             = false
    bambu_ndr                   = 0.2
    bambu_process_by_chromosome = true

    // ===== DESeq2 =====
    quantification_method       = 'bambu'
    deseq2_level                = 'gene'
    deseq2_contrast_variable    = 'group'
    deseq2_reference_level      = 'H1975'
    deseq2_target_level         = 'HCC827'
    alpha                       = 0.05
    lfc_threshold               = 1
    lfc_shrink_method           = ''

    // ===== DEXSeq / DTU =====
    dexseq_opts                 = ''

    // ===== Contenedores =====
    container_main              = 'longsplice:latest'
    flair_container             = 'longsplice:latest'
    suppa_container             = 'longsplice:latest'

    // ===== FLAIR - Parámetros generales =====
    min_mapq                    = 10
    flair_batch                 = 'batch1'

    // ===== FLAIR transcriptome - Parámetros específicos =====
    // Soporte mínimo de reads para reportar una isoforma (default: 3)
    flair_transcriptome_support = 3
    
    // Ventana para corregir splice sites (default: 15)
    flair_transcriptome_ss_window = 15
    
    // Ventana para comparar TSS/TES (default: 100)
    flair_transcriptome_end_window = 100
    
    // Número máximo de TSS/TES por isoforma (default: 2)
    flair_transcriptome_max_ends = 2
    
    // [HIGHLY RECOMMENDED] Requiere que todos los reads sean full-length
    // (spanning 25 bp del primer y último exón)
    flair_transcriptome_stringent = true
    
    // [HIGHLY RECOMMENDED] Verificar cobertura de 4/6 bp alrededor de cada splice site
    // NO USAR CON DATOS DE ALTO ERROR (old direct-RNA)
    flair_transcriptome_check_splice = true
    
    // Si no quieres alineamiento inicial a secuencias anotadas
    flair_transcriptome_noaligntoannot = false
    
    // Para cada cadena única de splice junctions:
    // 'none', 'longest', 'best_only'
    flair_transcriptome_no_redundant = 'none'
    
    // Opciones de filtrado:
    // 'default', 'nosubset', 'comprehensive', 'ginormous'
    flair_transcriptome_filter = 'default'
    
    // Predecir CDS de las isoformas finales
    flair_transcriptome_predictCDS = false
    
    // [HIGHLY RECOMMENDED] Path a short-read junctions (BED format)
    // SIN SHORT-READS NO SE DETECTARÁN SPLICE SITES NUEVOS
    shortread_junctions = null

    // ===== FLAIR - diffsplice (DRIMSeq) =====
    flair_diffsplice_threads    = 8
    flair_diffsplice_test       = true
    flair_diffsplice_batch      = false
    drim1                       = 6
    drim2                       = 3
    drim3                       = 15
    drim4                       = 5

    // ===== FLAIR - diffexp (DESeq2 + DRIMSeq isoform usage) =====
    flair_diffexp_exp_thresh    = 10
    flair_diffexp_threads       = 8
    flair_out_dir_force         = true

    // ===== SUPPA2 =====
    suppa_method                = 'empirical'
    design_sample_template      = '{group}-{replicate}.sorted'
    tpm_id_header               = 'transcript_id'

    generateevents_boundary_mode    = 'S'
    generateevents_threshold        = 10
    generateevents_exon_length      = 50
    generateevents_event_type       = ''
    generateevents_pool_genes       = false

    psiperevent_total_filter     = 'total'
    suppa_total_filter           = 1.0
    suppa_mode                   = ''
    suppa_debug                  = false
    suppa_filter_by_ioe          = true
    suppa_ioe_min_intersection   = 5

    diffsplice_method           = 'empirical'
    diffsplice_area             = 'total'
    diffsplice_lower_bound      = 0.1
    diffsplice_alpha            = 0.05
    diffsplice_tpm_threshold    = 1.0
    diffsplice_nan_threshold    = 0.1
    diffsplice_gene_correction  = true
    diffsplice_paired           = false
    diffsplice_median           = true

    clusterevents_dpsithreshold = 0.1
    clusterevents_eps           = 0.6
    clusterevents_metric        = 'euclidean'
    clusterevents_min_pts       = 5
    clusterevents_method        = 'dbscan'
    clusterevents_sigthreshold  = 0.05
    clusterevents_separation    = ''

    // ===== General =====
    tracedir                = "${params.outdir}/pipeline_info"
    monochrome_logs         = false
    validate_params         = true
    enable_conda            = false
    stubRun                 = false
    igenomes_ignore         = true
    scratch_dir             = '/tmp'
}

// ===== Variables de entorno globales (FIX TMPDIR) =====
env {
    TMPDIR = "${params.scratch_dir}"
    TEMP = "${params.scratch_dir}"
    TMP = "${params.scratch_dir}"
}

// ===== Docker / Singularity =====
docker {
    enabled       = true
    runOptions    = "-u \$(id -u):\$(id -g) -v ${System.getenv('HOME')}:${System.getenv('HOME')} -v /scratch:/scratch -v /mnt/disco_3:/mnt/disco_3 --ulimit nofile=4096:4096"
    envWhitelist  = 'TMPDIR,TEMP,TMP'
}
singularity {
    enabled       = false
    autoMounts    = true
}
conda {
    enabled       = params.enable_conda
}

// ===== Ejecutor =====
executor {
  name        = 'local'
  queueSize   = 26
}

// ===== Procesos / Recursos / Publish =====
process {
    executor        = 'local'
    shell           = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy   = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries      = 1
    container       = params.container_main

    withLabel: process_large {
        scratch     = true
        stageInMode = 'symlink'
        stageOutMode= 'copy'
        beforeScript= """
        set -e
        export TMPDIR="\${TMPDIR:-\$PWD/_tmp}"
        mkdir -p "\$TMPDIR"
        export TEMP="\$TMPDIR"
        export TMP="\$TMPDIR"
        ulimit -n 4096 || true
        """
        cpus        = { Math.min(10, params.max_cpus as int) }
        memory      = { params.max_memory }
        time        = '96h'
        maxForks    = 1
    }

    withLabel: process_high {
        scratch     = true
        stageInMode = 'symlink'
        stageOutMode= 'copy'
        beforeScript= """
        set -e
        export TMPDIR="\${TMPDIR:-\$PWD/_tmp}"
        mkdir -p "\$TMPDIR"
        export TEMP="\$TMPDIR"
        export TMP="\$TMPDIR"
        ulimit -n 4096 || true
        """
        cpus        = { params.max_cpus as int }
        memory      = { params.max_memory }
        time        = '72h'
        maxForks    = 1
    }

    withLabel: process_low {
        cpus        = { Math.min(2,  params.max_cpus as int) }
        memory      = { params.max_memory.compareTo('4.GB')  > 0 ? '4.GB'  : params.max_memory }
        time        = '10h'
        maxForks    = 10
    }

    withLabel: process_medium {
        cpus        = { Math.min(4,  params.max_cpus as int) }
        stageInMode = 'symlink'
        memory      = { params.max_memory.compareTo('8.GB') > 0 ? '8.GB' : params.max_memory }
        time        = '36h'
        maxForks    = 3
    }
    
    // ----- RESTRANDER -----
    withName: /RESTRANDER/ {
        cpus        = 4
        memory      = '3.GB'
        publishDir  = [ path: "${params.outdir}/restrander", mode: params.publish_dir_mode ]
        container   = params.container_main
        maxForks    = 3
    }

    // ----- Minimap2 -----
    withName: /MINIMAP2_INDEX/ {
        cpus        = 12
        memory      = '28.GB'
        container   = params.container_main
    }
    
    // ----- Minimap2 -----
    withName: /MINIMAP2_ALIGN/ {
        cpus        = 4
        memory      = '13.GB'
        maxForks    = 3
        container   = params.container_main
    }

    // ----- SAMTOOLS_INDEX -----
    withName: /SAMTOOLS_INDEX/ {
        cpus        = 2
        memory      = '2.GB'
        container   = params.container_main
        maxForks    = 6
    }


    // ----- SAMTOOLS_SORT -----
    withName: /SAMTOOLS_SORT/ {
        cpus        = 2
        memory      = '4.GB'
        container   = params.container_main
        maxForks    = 6
    }

    // ----- SAMTOOLS_FLAGSTAT -----
    withName: /SAMTOOLS_FLAGSTAT/ {
        cpus        = 2
        memory      = '1.GB'
        container   = params.container_main
        maxForks    = 6
    }

    // ----- SAMTOOLS_IDXSTATS -----
    withName: /SAMTOOLS_IDXSTATS/ {
        cpus        = 2
        memory      = '1.GB'
        container   = params.container_main
        maxForks    = 6
    }

    // ----- SAMTOOLS_STATS -----
    withName: /SAMTOOLS_STATS/ {
        cpus        = 2
        memory      = '1.GB'
        container   = params.container_main
        maxForks    = 6
    }

    // ----- BAMBU -----
    withName: /BAMBU/ {
        label       = 'process_high'
        cpus        = 6
        memory      = { params.max_memory }
        publishDir  = [ path: "${params.outdir}/bambu", mode: params.publish_dir_mode ]
        container   = params.container_main
    }

    // ----- DESeq2 -----
    withName: /DESEQ2_RUN/ {
        label       = 'process_medium'
        container   = params.container_main
        publishDir  = [
            path      : "${params.outdir}/deseq2/${params.deseq2_level}",
            mode      : params.publish_dir_mode,
            overwrite : true
        ]
    }

    // ----- DEXSeq -----
    withName: /DEXSEQ/ {
        label       = 'process_medium'
        container   = params.container_main
        publishDir  = [ path: "${params.outdir}/dexseq", mode: params.publish_dir_mode ]
    }

    // =======================
    //         FLAIR
    // =======================

    withName: /FLAIR_ALIGN/ {
        label       = 'process_high'
        cpus        = 8
        memory      = '28.GB'
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/aligned", mode: params.publish_dir_mode, overwrite: true ]
    }

    withName: /FLAIR_TRANSCRIPTOME/ {
        label       = 'process_high'
        cpus        = 4
        memory      = { params.max_memory }
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/transcriptome", mode: params.publish_dir_mode, overwrite: true ]

    }

    withName: /FLAIR_CORRECT/ {
        label       = 'process_high'
        cpus        = 8
        memory      = '28.GB'
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/correct", mode: params.publish_dir_mode, overwrite: true ]
    }

    withName: /CONCAT_FASTQ/ {
        label       = 'process_low'
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/collapse", mode: params.publish_dir_mode, overwrite: true ]

    }

    withName: /CONCAT_CORRECTED_BED/ {
        label       = 'process_low'
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/collapse", mode: params.publish_dir_mode, overwrite: true ]
    }

    withName: /FLAIR_COLLAPSE/ {
        label       = 'process_medium'
        cpus        = { Math.min(4, params.max_cpus as int) }
        memory      = { params.max_memory }
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/collapse", mode: params.publish_dir_mode, overwrite: true ]

    }


    withName: /FLAIR_QUANTIFY/ {
        label       = 'process_medium'
        container   = params.flair_container
        cpus        = 8
        memory      = '28.GB'
        publishDir  = [ path: "${params.outdir}/flair/quant", mode: params.publish_dir_mode, overwrite: true ]
    }



    withName: /FLAIR_DIFFEXP/ {
        label       = 'process_low'
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/diffexp", mode: params.publish_dir_mode, overwrite: true ]

    }

    withName: /FLAIR_DIFFSPLICE/ {
        label       = 'process_high'
        container   = params.flair_container
        publishDir  = [ path: "${params.outdir}/flair/diffsplice", mode: params.publish_dir_mode, overwrite: true ]

    }
    
    withName: /NANOPLOT(_PRE_TRIM|_POST_TRIM)?/ {
    label  = 'process_medium'   // si prefieres, o define explícito:
    cpus   = 2
    memory = '6 GB'
    beforeScript = """
      set -e
      export TMPDIR="\${TMPDIR:-\$PWD/_tmp}"
      mkdir -p "\$TMPDIR"
      export TEMP="\$TMPDIR"
      export TMP="\$TMPDIR"
      export MPLBACKEND=Agg
    """
  }
}

// ===== Reportes =====
timeline {
    enabled     = true
    file        = "${params.tracedir}/timeline.html"
    overwrite   = true
}
report {
    enabled     = true
    file        = "${params.tracedir}/report.html"
    overwrite   = true
}
trace {
    enabled     = true
    file        = "${params.tracedir}/trace.txt"
    overwrite   = true
    fields      = 'task_id,name,status,exit,process,tag,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,workdir,hash'
}
dag {
    enabled     = true
    file        = "${params.tracedir}/dag.svg"
    overwrite   = true
}

cleanup = false

profiles {
    docker {
        docker.enabled      = true
        conda.enabled       = false
        process.container   = params.container_main
        docker.runOptions   = "-u \$(id -u):\$(id -g) -v ${System.getenv('HOME')}:${System.getenv('HOME')} -v /scratch:/scratch -v /mnt/disco_3:/mnt/disco_3 --ulimit nofile=4096:4096"
    }
    singularity {
        singularity.enabled = true
        docker.enabled      = false
        singularity.autoMounts = true
        process.container   = params.container_main
    }
    local {
        process.executor    = 'local'
    }
    test {
        params.outdir       = 'results_test'
    }
    
    // Perfil optimizado para FLAIR transcriptome
    transcriptome_fast {
        params.use_flair_transcriptome = true
        params.flair_transcriptome_stringent = true
        params.flair_transcriptome_check_splice = true
        
        process {
            withName: /FLAIR_TRANSCRIPTOME/ {
                cpus   = { params.max_cpus as int }
                memory = '16.GB'  // Usa 20x menos memoria que collapse
                time   = '24h'    // 3x más rápido que correct+collapse
            }
        }
    }
}